header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-width: 500px;
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 20px;
}

header > input[type="search"] {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background: #fff;
    padding: 10px 20px;
}

.burger {
    height: 18px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger div {
    width: 18px;
    height: 4px;

    background: #fff;
    border-radius: 4px;
}

.avatar {
    width: 30px;
    height: 30px;

    background: #FFFFFF;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar svg {
    width: 100%;
    height: 100%;
    fill: #5C5C5C;
}