.container {
    display: flex;
    height: 100%;
    flex-direction: row;
    border-radius: 10px 20px 20px 10px;
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content input[type="text"],
.content input[type="textarea"] {
    width: 100%;
    flex-grow: 1;
}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #5C5C5C;
    text-transform: capitalize;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 700;
}

.icon {
    min-width: 59px;
    height: 59px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: capitalize;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    background: rgba(93, 41, 106, 0.7);
    border-radius: 10px;
}


.title .leftSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.title .leftSide button {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    cursor: pointer;
}

.title .leftSide svg {
    fill: #373737;
    height: 40px;
    width: 40px;
}

.todoSection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .container {
        border-radius: 10px;
        max-height: 60vh;
    }

    .icon {
        display: none;
    }
}